$color_1: White;
$color_2: #ff9500;
$color_3: black;
$color_4: #4c4c4d;
$color_5: #262626;
$color_6: #000;
$color_7: #000000;
$font-family_1: "Be Vietnam Pro",
sans-serif;
$background-color_1: rgb(241, 241, 243);
$background-color_2: #ff9500;
$background-color_3: White;
$font_size_48: 48px;
$font_size_38: 38px;
$font_size_24: 24px;
$font_size_18: 18px;
$font_weight_600: 600;
$font_weight_500: 500;
$font_weight_400: 400;
@media screen and (main-width: 1800px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1535px;
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
    background-color: $background-color_1;
}

.header {
    position: fixed;
    width: 100%;
    background-color: $background-color_1;
    z-index: 1;
    .sub {
        margin-top: 20px;
        padding: 14px 0 14px 0;
        background: #ff9500;
        border-radius: 8px;
        text-align: center;
        color: $color_1;
        font-size: $font_size_18;
        font-weight: $font_weight_400;
        line-height: 27px;
        grid-area: sub;
        img {
            padding-left: 15px;
        }
    }
    .navigation {
        width: 100%;
        display: flex;
        padding: 10px 110px 10px 110px;
        gap: 0px;
        justify-content: space-between;
    }
    .sign-up {
        padding: 14px 34px 8px 34px;
        background: transparent;
        border-radius: 8px;
        display: block;
        gap: 8px;
    }
    .login-cover {
        padding: 14px 34px 8px 34px;
        background: transparent;
        border-radius: 8px;
        display: block;
        gap: 8px;
        background: #ff9500;
    }
}

.intro {
    padding-top: 10%;
    display: grid;
    justify-content: center;
    align-content: stretch;
    .abstract {
        position: relative;
        top: 10px;
        right: 30px;
    }
    .intro-container {
        width: 856px;
        height: 100px;
        padding: 14px 30px 14px 20px;
        background: White;
        border-radius: 11px;
        border: 1px #f1f1f3 solid;
        text-align: center;
        .title-unlock {
            color: $color_2;
            font-size: $font_size_48;
            font-weight: $font_weight_600;
            line-height: 72px;
        }
        .title-creative {
            color: $color_2;
            font-size: $font_size_48;
            font-weight: $font_weight_600;
            line-height: 72px;
            color: $color_3;
        }
    }
    .intro-heading {
        margin-top: 20px;
        text-align: center;
        color: $color_3;
        font-size: $font_size_38;
        font-weight: $font_weight_500;
        line-height: 57px;
    }
    .intro-description {
        text-align: center;
        color: $color_3;
        font-size: $font_size_18;
        font-weight: $font_weight_400;
        line-height: 27px;
        margin-top: 10px;
    }
    .intro-btn {
        display: flex;
        margin: auto;
        margin-top: 30px;
        justify-content: center;
        .explore-btn {
            background-color: $background-color_2;
            border: none;
            color: $color_1;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            padding: 18px 24px 18px 24px;
            border-radius: 8px;
        }
        .pricing-btn {
            background-color: $background-color_2;
            border: none;
            color: $color_1;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            padding: 18px 24px 18px 24px;
            border-radius: 8px;
            background-color: $background-color_3;
            color: $color_3;
            margin-left: 10px;
        }
    }
}

.section-courses {
    align-items: flex-end;
    gap: 75px;
    display: inline-flex;
    .courses-paragraph {
        flex: 1 1 0;
        flex-direction: column;
        margin-top: 50px;
        gap: 6px;
        display: inline-flex;
        h3 {
            color: $color_3;
            font-size: $font_size_48;
            font-weight: $font_weight_600;
            line-height: 72px;
        }
        div {
            color: $color_4;
            font-size: $font_size_18;
            font-weight: $font_weight_400;
            line-height: 27px;
        }
    }
    .view-btn {
        padding: 18px 24px;
        background: White;
        border-radius: 8px;
        border: 1px #f1f1f3 solid;
        font-size: $font_size_18;
        font-weight: $font_weight_500;
        line-height: 27px;
    }
}

.rubber-container {
    margin-top: 50px;
    .rubber-section {
        width: 48%;
        background: White;
        padding: 50px;
        margin: 0.5rem;
        border-radius: 12px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        display: inline-flex;
        .border-Button {
            padding: 18px 24px;
            background: #f7f7f8;
            border-radius: 8px;
            border: 1px #f1f1f3 solid;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
        }
        .get-btn {
            text-align: center;
            color: $color_5;
            font-size: $font_size_18;
            font-weight: $font_weight_500;
            line-height: 27px;
            word-wrap: break-word;
        }
        .courses-image {
            align-self: stretch;
            border-radius: 8px;
            width: 100%;
            img {
                width: 100%;
            }
        }
        .courses-data {
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            .info-label {
                color: $color_4;
                font-size: 14px;
                font-weight: $font_weight_400;
                word-wrap: break-word;
                display: inline-block;
                .period {
                    padding: 10px 6px;
                    background: White;
                    border: 1px solid #f1f1f1;
                    border-radius: 8px;
                    margin-right: 10px;
                }
                .type {
                    padding: 10px 6px;
                    background: White;
                    border: 1px solid #f1f1f1;
                    border-radius: 8px;
                    margin-right: 10px;
                }
            }
        }
        .creator {
            text-align: right;
        }
        .courses-text {
            margin-bottom: 53px;
            gap: 14px;
            display: grid;
            .courses-title {
                color: $color_3;
                font-size: $font_size_24;
                font-weight: $font_weight_400;
                line-height: 150%;
                margin-bottom: 14px;
            }
            .courses-description {
                color: $color_4;
                font-size: $font_size_18;
                font-weight: $font_weight_400;
                line-height: 150%;
                text-align: left;
                max-height: 84px;
            }
        }
    }
}

.footer {
    padding: 80px 13% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    margin-top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    .footer-content {
        h4 {
            color: $color_6;
            margin-bottom: 1.5rem;
            font-size: $font_size_24;
        }
        li {
            margin-bottom: 16px;
            a {
                display: block;
                color: $color_7;
                font-size: 14px;
                font-weight: $font_weight_400;
                transition: all 0.4s ease;
            }
        }
        .icons {
            a {
                display: inline-block;
                font-size: 22px;
                color: $color_6;
                margin-right: 17px;
                list-style: none;
                transition: all 0.4s ease;
            }
        }
    }
}


/*  media */

@media screen and (max-width: 1060px) {
    .header .navigation {
        padding: 10px 0 10px 0px;
    }
    .intro {
        padding-top: 18%;
    }
    .rubber-container .rubber-section .courses-data .info-label {
        font-size: 14px;
        line-height: 17.71px;
    }
    .rubber-container .rubber-section .courses-text .courses-title {
        font-size: 20px;
        line-height: 30px;
    }
    .rubber-container .rubber-section .courses-text .courses-description {
        font-size: 16px;
        line-height: 24px;
    }
    .rubber-container .rubber-section .border-Button {
        padding: 14px 24px;
        gap: 8px;
    }
    footer {
        padding: 50px 2% 40px;
    }
}

@media screen and (max-width: 850px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }
    .intro .abstract {
        top: 18px;
        right: 0;
        left: 20px;
    }
    .section-courses {
        display: block;
    }
    .section-courses .courses-paragraph div {
        font-size: 15px;
        line-height: 41px;
    }
    .section-courses .courses-paragraph h3 {
        font-size: 38px;
        line-height: 57px;
    }
    .section-courses .view-btn {
        padding: 14px 20px;
        font-size: 14px;
        text-align: center;
        line-height: 21px;
    }
    .rubber-container .rubber-section {
        width: 100%;
    }
    .intro {
        padding-top: 18%;
    }
    .intro.intro-container {
        width: 682px;
        height: 100px;
        padding: 12px 24px 12px 12px;
        background: #ffffff;
        margin: auto;
    }
    .intro .intro-container .title-unlock,
    .intro .intro-container .title-creative {
        font-size: 36px;
        line-height: 54px;
    }
    .rubber-container .rubber-section .courses-text .courses-description {
        font-size: 16px;
        line-height: 24px;
    }
    .intro .intro-description {
        font-size: 16px;
        line-height: 24px;
    }
    .explore,
    .view {
        /* padding: 14px 20px; */
        margin-right: 0px;
    }
    .intro .intro-btn .explore-btn,
    .intro .intro-btn .pricing-btn {
        font-size: 14px;
        line-height: 21px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
    }
}

@media (min-width: 350px) and (max-width: 740px) {
    .rubber-container .rubber-section {
        width: 100%;
    }
    .intro .intro-heading {
        font-size: 16px;
    }
    .header .sub {
        font-size: 16px;
    }
    .intro .intro-container {
        width: 364px;
        height: 54px;
        padding: 14px;
        background: #ffffff;
        margin: auto;
    }
    .intro .abstract {
        right: 0;
        left: 6px;
    }
    .intro {
        padding-top: 35%;
    }
    .intro .intro-container .title-unlock,
    .intro .intro-container .title-creative {
        font-size: 16px;
        line-height: 24px;
    }
    .rubber-container .rubber-section .courses-text.courses-description {
        font-size: 24px;
        line-height: 35px;
    }
    .intro .intro-description {
        font-size: 14px;
        line-height: 21px;
    }
    .section-courses {
        display: block;
    }
    .section-courses .courses-paragraph .courses-paragraph h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .section-courses .view-btn {
        padding: 14px 27px;
        text-align: center;
        margin-top: 16px;
    }
    .rubber-container .rubber-section .courses-data .info-label {
        display: block;
    }
    .rubber-container .courses-data {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    .header .sub {
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
    }
    .header .navigation {
        padding: 14px 0 14px 0;
    }
    .intro .intro-container {
        width: 309px;
    }
    .rubber-container .rubber-section .courses-text.courses-title {
        font-size: 16px;
        line-height: 10px;
    }
    .rubber-container .rubber-section .courses-text.courses-description {
        font-size: 18px;
        line-height: 30px;
    }
    .rubber-container .rubber-section {
        width: 100%;
        background: #fff;
        padding: 15px;
    }
    .header .login-cover,
    .header .sign-up {
        padding: 12px 20px 12px 20px;
    }
    .intro .intro-container {
        width: 80%;
        height: 80px;
        margin: auto;
    }
}

@media screen and (max-width: 325px) {
    .header .sub {
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
    }
    .header .navigation {
        padding: 10px 0 10px 0px;
    }
    .intro {
        padding-top: 43%;
    }
    .intro .intro-container {
        width: 80%;
        height: 80px;
        margin: auto;
        padding: 12px 24px 12px 12px;
    }
    .intro .abstract {
        right: 0px;
        left: 7px;
    }
    .rubber-container .rubber-section .courses-text .courses-description {
        font-size: 16px;
        line-height: 24px;
    }
    .rubber-container .rubber-section .courses-text .courses-title {
        font-size: 16px;
        line-height: 10px;
    }
    .intro .intro-container .title-unlock,
    .intro .intro-container .title-creative {
        font-size: 14px;
        line-height: 24px;
    }
    .rubber-container .container-text .courses-description {
        font-size: 14px;
        line-height: 18px;
    }
    .rubber-container .rubber-section {
        width: 100%;
        background: #fff;
        padding: 15px;
    }
}

@media screen and (max-width: 321px) {
    .rubber-container .rubber-section .courses-text .courses-description {
        font-size: 12px;
        line-height: 22px;
    }
    .intro .intro-heading {
        font-size: 13px;
    }
    .intro .intro-description {
        font-size: 13px;
        line-height: 21px;
    }
    .intro .intro-btn .explore,
    .intro .intro-btn .view {
        /* padding: 11px 15px; */
        margin-right: 0px;
    }
    .section-courses .courses-paragraph h3 {
        font-size: 27px;
        line-height: 42px;
    }
    .section-courses {
        display: block;
    }
    .section-courses .view-btn {
        padding: 14px 27px;
        text-align: center;
        margin-top: 16px;
    }
    .section-courses .courses-paragraph div {
        font-size: 15px;
        line-height: 21px;
    }
    .rubber-container .creator {
        text-align: right;
        font-size: 12px;
    }
    .rubber-container .rubber-section .courses-data .info-label {
        font-size: 10px;
        line-height: 17.71px;
    }
    .header .login-cover,
    .header .sign-up {
        padding: 12px 20px 12px 20px;
    }
}